@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Manage Products";
}
<div>
    <a href="@Url.Action("ManageProducts", "Admin")" class="btn btn-primary btn-lg btn-block">
        <i class="fas fa-plus"></i> Manage Products
    </a>
</div>